---
const { frontmatter } = Astro.props
import { ViewTransitions } from 'astro:transitions'

import Footer from '../components/Footer.astro'
import JosaLogoHeader from '../components/JosaLogoHeader.astro'
---

<!doctype html>
<html
  lang="ca"
  class="bg-josa-cream dark:bg-josa-dark text-josa-dark dark:text-josa-light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.metadescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href=`https://josa.cat/blog/${frontmatter.slug}` />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <ViewTransitions />
  </head>

  <body class="font-josa">
    <header
      class="bg-josa-green h-fit w-screen flex py-2 px-8 shadow-sm shadow-josa-dark-green"
    >
      <JosaLogoHeader />
    </header>
    <main class="p-12 xl:px-32 text-xl">
      <h1 class="text-5xl text-josa-green font-semibold">
        {frontmatter.title}
      </h1>
      <slot />
    </main>
    <Footer />
  </body><style is:global>
    @font-face {
      font-family: 'Montserrat';
      src: url('/Montserrat.ttf');
    }

    html {
      cursor: url('/cursor.svg'), auto;
    }

    h1,
    h2,
    h3 {
      color: #5e6e50;
    }

    h2,
    h3 {
      font-weight: 600;
      margin-top: 3rem;
      margin-bottom: 0.6rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    p {
      margin-top: 2rem;
    }

    ul {
      list-style-type: disc;

      > li {
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }

    ol {
      list-style-type: decimal;
      > li {
        margin-top: 1rem;
        margin-left: 2rem;
      }
    }

    table {
      border-collapse: collapse;
      background-color: #b4b39c;
      text-align: left;
      border-radius: 0.6rem;
      font-weight: 600;
      margin: 2rem auto;

      th {
        background-color: #5e6e50;
        color: #f4ffff;
        padding: 0.75rem 2rem;
      }
      td {
        padding: 1rem 2rem;
      }
      th:first-child {
        border-top-left-radius: 0.6rem;
      }
      th:last-child {
        border-top-right-radius: 0.6rem;
      }

      td:first-child {
        font-weight: 800;
      }
    }

    @media (min-width: 800px) {
      table {
        margin: 2rem 4rem;
      }
    }
  </style>
</html>
